<div id="container-alt">
  <div class="form-container">
    <h2 class="text-center">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-input">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, placeholder: '8 characters minimum' %>
        <%= f.input :password_confirmation, required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'btn btn-green' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
</div>
