<%= render 'education/filters' %>

<% @educations.each do |education| %>
<div id="information-container">
  <div class="logo">
    <img src="assets/education_logo/thefirehoseproject_logo.png" alt="Logo for The Firehose Project">
  </div>
  <div class="information">
    <div class="header-container clearfix">
      <div class="title-container">
        <h2><%= education.name %></h2>
        <a href="<%= education.web_url %>" target="_blank"><%= education.web_url %></a>
      </div>
      <div class="review-container">
        <div class="stars">
          <span class="full-star">&#9733;</span>
          <span class="full-star">&#9733;</span>
          <span class="full-star">&#9733;</span>
          <span class="full-star">&#9733;</span>
          <span class="full-star">&#9733;</span>
        </div>
        <a href="#" class="reviews">56 Reviews</a>
      </div>
    </div>
    <p class="description">
      <%= truncate education.description, length: 700 %>
      <br />
      <% if education.description.length > 700 %>
        <%= link_to "Read More...", "#" %>
      <% end %>
    </p>
  </div>
  <div class="filter-list">
    <ul class="online-bootcamp">
      <li><%= education.course_type %></li>
      <li><%= education.category %></li>
      <li><%= education.language %></li>
      <li><%= education.location %></li>
    </ul>
  </div>
</div>

<% end %>
