<section id="education-reviews">

  <div id="container-alt">
    <div class="form-container">
      <h1 class="text-center">Write a Review</h1>
      <div class="form-input">
        <%= simple_form_for @education_review, url: education_education_reviews_path(@education) do |f| %>
          <%= f.input :title %>
          <%= f.input :rating, as: :select, collection: EducationReview::RATINGS %>
          <%= f.input :description %>
          <%= f.button :submit, 'Create', class: 'btn btn-green pull-right' %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="container-alt">
    <h1 class="text-center">Reviews</h1>

    <% @education.education_reviews.each do |review| %>
    <div class="reviews-wrapper">
      <div class="reviews-header">
        <h3 class="review-title"><%= review.title %></h3>
        <div class="review-rating-container">
          <div class="stars">
            <% if review.rating = "1_star" %>
              <span class="full-star">&#9733;</span>
              <span class="no-star">&#9733;</span>
              <span class="no-star">&#9733;</span>
              <span class="no-star">&#9733;</span>
              <span class="no-star">&#9733;</span>
            <% elsif review.rating = "2_stars" %>
              <span class="full-star">&#9733;</span>
              <span class="full-star">&#9733;</span>
              <span class="no-star">&#9733;</span>
              <span class="no-star">&#9733;</span>
              <span class="no-star">&#9733;</span>
            <% elsif review.rating = "3_stars" %>
              <span class="full-star">&#9733;</span>
              <span class="full-star">&#9733;</span>
              <span class="full-star">&#9733;</span>
              <span class="no-star">&#9733;</span>
              <span class="no-star">&#9733;</span>
            <% elsif review.rating = "4_stars" %>
              <span class="full-star">&#9733;</span>
              <span class="full-star">&#9733;</span>
              <span class="full-star">&#9733;</span>
              <span class="full-star">&#9733;</span>
              <span class="no-star">&#9733;</span>
            <% else review.rating = "5_stars" %>
              <span class="full-star">&#9733;</span>
              <span class="full-star">&#9733;</span>
              <span class="full-star">&#9733;</span>
              <span class="full-star">&#9733;</span>
              <span class="full-star">&#9733;</span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="review-body">
        <p>
          <%= review.description %>
        </p>
      </div>
      <div class="reviewer-container">
        <h3 class="reviewer-name">
          <%= review.user.email %>
        </h3>
        <div class="reviewer-links">
          <a href="#"><i class="fa fa-external-link" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</section>
