<!DOCTYPE html>
<html>
  <head>
    <title>Path to Junior</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <%= render 'layouts/main_navbar' %>
    <%= render 'layouts/sub_navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>

  </body>
</html>
